# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production & Build outputs
/build
/dist
/.next/
/out/

# Environment variables & secrets
.env
.env*.local
.env.production
.env.staging
*.pem
Firebase_Confidential.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Mobile / Expo
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDEs & System files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
.qodo/
repomix-output.xml
